<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User list</title>
</head>
<body>

<h1>User list page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aliquam beatae consequuntur cum, cumque dicta
    dignissimos dolorum ducimus esse fugiat id molestias nobis placeat quia repudiandae sunt totam veritatis. Ab animi
    aut beatae dolore eos explicabo illo, itaque laborum laudantium necessitatibus neque nihil non obcaecati optio quis
    sit voluptatum.</p>

</body>
</html>